@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ececf3;
}

.todo-list {
  width: 350px;
  color: #181819;
  box-shadow: 0 8px 15px  rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.todo-list header {
  margin: 0;
  padding: 1rem 0;
  color: #565cb8;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-top: 1rem solid #565cb8;
  border-bottom: 1px solid #f0f1ff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #fff;
}

.todo-list footer {
  margin: 0;
  padding: 0.5em 0;
  border-top: 1px solid #f0f1ff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #565cb8;
}

.todo-list .do input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.todo-list .do label {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.todo-list .do label:hover {
  transform: translateX(-1rem);
}

.todo-list .do label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #cccccccc;
  border-radius: 8px;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.todo-list .do label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #565cb8;
  transition: 0.3s ease-in-out;
}

.todo-list .do label:hover::after {
  width: 5px;
}

.todo-list .do label .fa-check {
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  font-size: 1.7rem;
  color: #565cb8;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.todo-list .do input[type="checkbox"]:checked + label .fa-check {
  opacity: 1;
}

.todo-list .do label .label {
  position: relative;
  color: #2d3436;
  transition: 0.3s ease-in-out;
}

.todo-list .do input[type="checkbox"]:checked + label .label {
  color: #aaaaaa;
}

.todo-list .do label .label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  top: 50%;
  height: 1px;
  background-color: #aaaaaa;
  transition: 0.3s ease-in-out;
}

.todo-list .do input[type="checkbox"]:checked + label .label::after {
  right: 0;
}
